@charset "utf-8";
html {
   width: 100%;
}

body {
   width: 95%;
   margin: 0px auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 0.8em;
}

h1 {
   font-size: 2em;
   text-align: center;
}

table {
   border-collapse: collapse;
   border: 4px groove black;
}

th, td {
   border: 2px solid black;
   padding: 5px;
   text-align: center;
   vertical-align: center;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table col#firstCol {
   background-color: #f2e394;
   width: 150px;
}

table col#hourCols {
   width: 75px;
}

table thead {
   background-color: #c0ded9
}
